#gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-auto-rows: 1fr;
   gap: 5px;
   column-count: 2;
}

.gallery-item {
   position: relative;
   aspect-ratio: 1/1;
   overflow: hidden;
}

.gallery-item .overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   z-index: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2em;
   color: #fff;
}

.gallery-item .overlay:hover {
   user-select: initial;
   opacity: 1;
   transition-duration: .8s;
   /* background-image: linear-gradient(to top, rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0) 100%); */
   box-shadow: inset 0 0 50px 10px rgba(255, 255, 255, 0.5);
   cursor: pointer;
}

.gallery-item img {
   display: block;
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.gallery-item .overlay:hover~img {
   scale: 1.1;
   transition-duration: 1s;
}

.gallery-item img:hover {
   scale: 1.1;
   transition-duration: 1s;
}

.gallery-item p {
   margin: 0;
   padding: 1em;
   display: flex;
   align-items: flex-end;
   justify-content: flex-start;
}

@keyframes reveal {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

@keyframes unreveal {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
   }
}

@keyframes blur {
   from {
      filter: none;
   }

   to {
      filter: blur(10px);
   }
}

@keyframes unblur {
   from {
      filter: blur(10px);
   }

   to {
      filter: none;
   }
}


.close {
   position: relative;
   width: 2.4em;
   height: 2.4em;
   opacity: 0.5;
   border-width: 0px;
   background-color: unset;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   right: 0;
}
.close:hover, .prev:hover, .next:hover {
   opacity: 1;
   cursor: pointer;
}
.close:before,
.close:after {
   position: absolute;
   left: 1.2em;
   top: 0;
   content: '';
   height: 33px;
   width: .16em;
   background-color: #ffffff;
}
.close:before {
   transform: rotate(45deg);
}
.close:after {
   transform: rotate(-45deg);
}


.next, .prev {
   font-size: 3em;
   background-color: unset;
   border: unset;
   opacity: 0.5;
   height: min-content;
   align-self: center;
   padding: 0;
   position: relative;
   z-index: 2;
}
#viewer .prev,
#viewer .next {
   grid-row: 2 / 3;
}
#viewer .prev {
   padding-left: .33em;;
   padding-right: .1em;;
}
#viewer .next {
   grid-column: 3 / 4; 
   padding-right: .33em;
   padding-left: .1em;;
}


#carousel .next,
#carousel .prev {
   height: 100%;
}
.button-container {
   position: relative;
   cursor: pointer;
}
#prev-button::before,
#next-button::after {
   position: absolute;
   content: ' ';
   z-index: 1;
   height: 100%;
   width: 100px;
   pointer-events: none;
   cursor: pointer;
}

#next-button::after {
   background: linear-gradient(to right, #ffffff00 0%, #ffffff 100%);
   right: 1em;
   top: 0;
}
#prev-button::before {
   background: linear-gradient(to left, #ffffff00 0%, #ffffff 100%);
   left: 1em;
   top: 0;
}





#blur {
   position: fixed;
   display: none;
   justify-content: center;
   width: 100%;
   height: 100%;
   top: 0; left: 0; right: 0; bottom: 0;
   background-color: rgba(0, 0, 0, 0.336);
   z-index: 998;
   animation: reveal 1s;
   overflow: auto;
}

#viewer {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 999;
   animation: fadeIn 1.5s;
   max-width: 100vmin;
   display: grid;
   grid-template: auto auto / auto auto auto;
}

#viewer * {
   color: #fff;
}

#blur:focus-visible, #viewer:focus-visible {
   outline: none;
}

#image-container img {
   object-fit: contain;
   cursor: zoom-in;
   max-width: 100%;
   max-height: 100%;
   transform-origin: top left;
   display: block;
   justify-self: center;
}

#viewer header {
   display: flex;
   justify-content: space-between;
    align-items: center;
    grid-column: 2 / 3
}

#viewer h1 {
   margin: 0px;
   text-align: left;
   text-overflow: ellipsis;
   white-space: nowrap;
   max-width: calc(100% - 32px);
  overflow: hidden;
}

#image-container {
   position: relative;
   min-width: 300px;
   grid-row: 2 / 3;
   max-height: 80vh;
   width: max-content;
   max-width: calc(100vmin - 5em);
}

#main .title {
   margin-bottom: .5em;
   font-size: 2em;
}

@media screen and (max-width: 600px) {
   #gallery {
      grid-template-columns: repeat(2, minmax(150px, 1fr));
   }
}

#carousel {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 1em;
}

#carousel-bar {
   display: grid;
   grid-template-columns: auto auto auto
}

#thumbnail-container {
   max-width: 90vw;
   overflow: clip;
   position: relative;
   transform-origin: 50%;
   justify-items: center;
}

#thumbnails {
   display: grid;
   grid-auto-flow: column;
   column-gap: 5px;
   width: max-content;
   align-items: center;
}

#video {
   width: 70vmin;
   aspect-ratio: 16 / 9;
   background-color: #000;
   align-self: center;
   min-width: 100%;
   margin: 0 .5em;
}
.carousel-item {
   height: min-content;
   opacity: .5;
   cursor: pointer;
}

.carousel-item img {
   min-width: 150px;
   max-width: 250px;
   width: 50vmin;
   display: block;
}

.missing {
   background-color: rgba(0, 0, 0, 0.1);
   aspect-ratio: 16 / 9;
}

.hidden {
   display: none;
}

/* FIGURE OUT HOW TO MAKE ORDER 4 SPECIFIC */
.selected {
   opacity: 1;
   border-bottom: .3em solid;
   border-image: linear-gradient(to right, transparent 25%, #993b3b 25%, #993b3b 75%, transparent 75% ) 12%;
   transition: border-image .4s;
   padding: .6em 0 .3em 0;
}

#player {
   justify-items: center;
   display: flex;
   flex-direction: column;
}

#video-info {
   display: flex;
   flex-direction: column;
   gap: .5em;
   margin: .5em;
}
#video-info p {
   margin: 0;
}